/* 
    Document   : concept
    Created on : May 20, 2010, 11:37:50 AM
    Author     : joel
    Description:
        Purpose of the stylesheet follows.
*/

* { 
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    background-color: white;
    width: 10px;
/*    height: 13px;*/
}
::-webkit-scrollbar-button{}
::-webkit-scrollbar-track{border: 1px solid magenta;background-color:red;}
::-webkit-scrollbar-track-piece{background-color:green;}
::-webkit-scrollbar-thumb{background-color:blue;}
::-webkit-scrollbar-corner{background-color:orange;}
::-webkit-resizer{background-color:cyan;}
html{

	scrollbar-face-color:		#d2d5e4;
	scrollbar-highlight-color:	#d2d5e4;
	scrollbar-shadow-color:	#d2d5e4;
	scrollbar-3dlight-color:	#123456;
	scrollbar-arrow-color:	#123456;
	scrollbar-track-color:	#d2d5e4;
	scrollbar-darkshadow-color:	#AEAEAE;
}
html,body,table {
    font-size: 12px;
    font-family: arial, verdana, helvetica;
}
div,table{margin:0px; padding: 0px;}
table {
  border: outset 0px;
  border-spacing: 2px;
  }
td {
    margin:0px;
  padding:0px;
  }
#screen {
    position:absolute;
    border: 1px solid black;
    background-color: #999;
    top:0;
    right:0;
    left:0;
    bottom:0;
    overflow:hidden;
}
#content {
    position:absolute;
    border: 1px solid red;
    background-color: #aaa;
    top:25px;
    right:10px;
    left:10px;
    bottom:10px;
}
#menu {
    border: 1px solid yellow;
    position: absolute;
    overflow: hidden;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 300px;  
}
#container {
    border: 1px solid white;
    position: absolute;
    overflow: hidden;
    left:310px;
    right:0px;
    bottom:0px;
    top:0px;
}
#form {
    position:absolute;
    left: 0px;
    bottom:0px;
    top:0px;
    right:200px;
    border: 1px solid green;
    overflow:auto;

}
#tools {
    border: 1px solid cyan;
    background-color: brown;
    position: absolute;
    overflow: hidden;
    width: 190px;
    bottom:0px;
    top:0px;
    right:0px;
}
.menu-section {
    position:relative;
    border: 1px solid yellow;
    overflow:hidden;
    height: 200px;
}
.section {
    position:relative;
    border: 1px solid blue;
    overflow:auto;
}
.sub-section {
    border:1px dashed white;    
    position:absolute;
    top:0;
    bottom:0;
    overflow:auto;
}

.section .bd {
    position:relative;
    overflow:auto;
}
.menu-section .bd {
    position:relative;
    overflow:auto;
    background-color: magenta;
}

.ui-table-layout td {
    text-align: left;
    padding:0px 2px 0px 2px;
}
.ui-table-layout td.label, td.left, td.center {
}
.ui-table-layout td.label {
    text-align: right;
   /*width:50%;*/
}
.ui-table-layout td.left {
    text-align: left;
   /*width:50%;*/
}
.ui-table-layout td.center {
    text-align: center;
   /*width:50%;*/
}

.ui-label {
text-align: right;
width:100px;
background-color:red;
}

