/* 
    Document   : concept
    Created on : May 20, 2010, 11:37:50 AM
    Author     : joel
    Description:
        Purpose of the stylesheet follows.
*/

* { 
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Scrollbar stuff */
/*
::-webkit-scrollbar {
    background-color: white;
    width: 10px;
    height: 13px;
}
::-webkit-scrollbar-button{}
::-webkit-scrollbar-track{border: 1px solid magenta;background-color:red;}
::-webkit-scrollbar-track-piece{background-color:green;}
::-webkit-scrollbar-thumb{background-color:blue;}
::-webkit-scrollbar-corner{background-color:orange;}
::-webkit-resizer{background-color:cyan;}

html{
    scrollbar-face-color: #d2d5e4;
    scrollbar-highlight-color: #d2d5e4;
    scrollbar-shadow-color: #d2d5e4;
    scrollbar-3dlight-color: #123456;
    scrollbar-arrow-color: #123456;
    scrollbar-track-color: #d2d5e4;
    scrollbar-darkshadow-color: #AEAEAE;
}
*/

html,body,table {
    font-size: 12px;
    font-family: arial, verdana, helvetica;
}
div,table{margin:0px; padding: 0px;}
table {
    border: outset 0px;
    border-spacing: 2px;
}
td {
    margin:0px;
    padding:0px;
}

input,textarea {
    border:1px solid gray;
}

#screen {
    border: 3px double #dadada;
}
#screen, #content, #menu, #container, #form, #tools {
    border: 1px solid #dadada;
}
#screen {
    position:absolute;
    border: 3px double #dadada;
    background-color: #fff;
    top:0;
    right:0;
    left:0;
    bottom:0;
    overflow:hidden;
}
#content {
    position:absolute;
    border-top: 2px solid #cccccc;
    background-color: #fff;
    top:20px;
    right:5px;
    left:5px;
    bottom:5px;
}
#menu {
    position: absolute;
    overflow: hidden;
    left: 0px;
    top: 5px;
    bottom: 0px;
    width: 300px;  
}
#container {
    position: absolute;
    overflow: hidden;
    left:305px;
    right:0px;
    bottom:0px;
    top:5px;
}
#form {
    position:absolute;
    left: 0px;
    bottom:0px;
    top:0px;
    right:200px;
    overflow:auto;

}
#tools {
    position: absolute;
    overflow: hidden;
    width: 195px;
    bottom:0px;
    top:0px;
    right:0px;
}
.menu-section {
    position:relative;
    overflow:hidden;
    height: 200px;
}
.section {
    position:relative;
    overflow:auto;
    margin-bottom: 25px;
}
.sub-section {
    border:1px dashed white;    
    position:absolute;
    top:0;
    bottom:0;
    overflow:auto;
}

.section .bd {
    position:relative;
    overflow:auto;
}

.section .title {
    font-weight: bold;
    font-size: 14px;
}

.section .hd {
    border-bottom: 2px solid black;
}

.menu-section .bd {
    position:relative;
    overflow:auto;
    background-color: magenta;
}

.ui-table-layout td {
    text-align: left;
    padding:0px 2px 0px 2px;
}
.ui-table-layout td.label, td.left, td.center {
}
.ui-table-layout td.label {
    text-align: right;
    /*width:50%;*/
}
.ui-table-layout td.left {
    text-align: left;
    /*width:50%;*/
}
.ui-table-layout td.center {
    text-align: center;
    /*width:50%;*/
}

.ui-label {
    text-align: right;
    width:100px;
    background-color:red;
}

.title {
    font-weight: bold;
}
